In [1]:
import pandas as pd

In [2]:
df_RedditNews = pd.read_csv('https://raw.githubusercontent.com/Eliot100/DJIA-stock-project/main/RedditNews.csv')
df_DJIA = pd.read_csv('https://raw.githubusercontent.com/Eliot100/DJIA-stock-project/main/upload_DJIA_table.csv')
df_Combined_News_DJIA = pd.read_csv('https://raw.githubusercontent.com/Eliot100/DJIA-stock-project/main/Combined_News_DJIA.csv')

In [3]:
df_DJIA.head(2)

         Date          Open  ...     Volume     Adj Close
0  2016-07-01  17924.240234  ...   82160000  17949.369141
1  2016-06-30  17712.759766  ...  133030000  17929.990234

[2 rows x 7 columns]

In [4]:
df_RedditNews.head(2)

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host

In [5]:
df_Combined_News_DJIA.head(2)

         Date  ...                                              Top25
0  2008-08-08  ...           b"No Help for Mexico's Kidnapping Surge"
1  2008-08-11  ...  b"So this is what it's come to: trading sex fo...

[2 rows x 27 columns]

In [6]:
df_Combined = df_DJIA.copy()
for i in range(0,25):
  df_Combined["Top"+str(i+1)] = ""

for i in range(0, len(df_DJIA['Date'])):
  News_Date_array = df_RedditNews[df_RedditNews["Date"] == df_Combined["Date"][i]]["News"].to_numpy()
  for j in range(0, len(News_Date_array)):
    # print(str(i)+""+str(j))
    df_Combined["Top"+str(j+1)][i] = News_Date_array[j] #str(j+1)
df_Combined.tail(2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

            Date  ...                                              Top25
1987  2008-08-11  ...  b"So this is what it's come to: trading sex fo...
1988  2008-08-08  ...           b"No Help for Mexico's Kidnapping Surge"

[2 rows x 32 columns]

In [7]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/compat/v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term