In [ ]:
import pandas as pd
from pandas import DataFrame

In [8]:
df_RedditNews = pd.read_csv('https://raw.githubusercontent.com/Eliot100/DJIA-stock-project/main/RedditNews.csv')
df_DJIA = pd.read_csv('https://raw.githubusercontent.com/Eliot100/DJIA-stock-project/main/upload_DJIA_table.csv')
df_Combined_News_DJIA = pd.read_csv('https://raw.githubusercontent.com/Eliot100/DJIA-stock-project/main/Combined_News_DJIA.csv')

In [9]:
df_DJIA

            Date          Open  ...     Volume     Adj Close
0     2016-07-01  17924.240234  ...   82160000  17949.369141
1     2016-06-30  17712.759766  ...  133030000  17929.990234
2     2016-06-29  17456.019531  ...  106380000  17694.679688
3     2016-06-28  17190.509766  ...  112190000  17409.720703
4     2016-06-27  17355.210938  ...  138740000  17140.240234
...          ...           ...  ...        ...           ...
1984  2008-08-14  11532.070312  ...  159790000  11615.929688
1985  2008-08-13  11632.809570  ...  182550000  11532.959961
1986  2008-08-12  11781.700195  ...  173590000  11642.469727
1987  2008-08-11  11729.669922  ...  183190000  11782.349609
1988  2008-08-08  11432.089844  ...  212830000  11734.320312

[1989 rows x 7 columns]