In [13]:
import pandas as pd

In [14]:
df_RedditNews = pd.read_csv('https://raw.githubusercontent.com/Eliot100/DJIA-stock-project/main/RedditNews.csv')
df_DJIA = pd.read_csv('https://raw.githubusercontent.com/Eliot100/DJIA-stock-project/main/upload_DJIA_table.csv')
df_Combined_News_DJIA = pd.read_csv('https://raw.githubusercontent.com/Eliot100/DJIA-stock-project/main/Combined_News_DJIA.csv')

In [15]:
df_DJIA.head(2)

         Date          Open  ...     Volume     Adj Close
0  2016-07-01  17924.240234  ...   82160000  17949.369141
1  2016-06-30  17712.759766  ...  133030000  17929.990234

[2 rows x 7 columns]

In [16]:
df_RedditNews.head(2)

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host

In [17]:
df_Combined_News_DJIA.tail(2)

            Date  ...                                              Top25
1987  2016-06-30  ...  Law Enforcement Sources: Gun Used in Paris Ter...
1988  2016-07-01  ...  Ozone layer hole seems to be healing - US &amp...

[2 rows x 27 columns]

In [18]:
df_Combined = df_DJIA.copy()
for i in range(0,59):
  df_Combined[str(i+1)+" day before Open"] = ""
  df_Combined[str(i+1)+" day before High"] = ""
  df_Combined[str(i+1)+" day before Low"] = ""
  df_Combined[str(i+1)+" day before Close"] = ""
  df_Combined[str(i+1)+" day before Volume"] = ""
  df_Combined[str(i+1)+" day before Adj Close"] = ""
for i in range(0,25):
  df_Combined["Top"+str(i+1)] = ""
df_Combined

            Date          Open          High  ...  Top23  Top24  Top25
0     2016-07-01  17924.240234  18002.380859  ...
1     2016-06-30  17712.759766  17930.609375  ...
2     2016-06-29  17456.019531  17704.509766  ...
3     2016-06-28  17190.509766  17409.720703  ...
4     2016-06-27  17355.210938  17355.210938  ...
...          ...           ...           ...  ...    ...    ...    ...
1984  2008-08-14  11532.070312  11718.280273  ...
1985  2008-08-13  11632.809570  11633.780273  ...
1986  2008-08-12  11781.700195  11782.349609  ...
1987  2008-08-11  11729.669922  11867.110352  ...
1988  2008-08-08  11432.089844  11759.959961  ...

[1989 rows x 386 columns]

In [19]:
for j in range(0, len(df_DJIA['Date'])-59):
  for i in range(0, 59):
    df_Combined[str(i+1)+" day before Open"][j] = df_Combined["Open"][j+i+1]
    df_Combined[str(i+1)+" day before High"][j] = df_Combined["High"][j+i+1]
    df_Combined[str(i+1)+" day before Low"][j] = df_Combined["Low"][j+i+1]
    df_Combined[str(i+1)+" day before Close"][j] = df_Combined["Close"][j+i+1]
    df_Combined[str(i+1)+" day before Volume"][j] = df_Combined["Volume"][j+i+1]
    df_Combined[str(i+1)+" day before Adj Close"][j] = df_Combined["Adj Close"][j+i+1]
df_Combined

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            Date          Open          High  ...  Top23  Top24  Top25
0     2016-07-01  17924.240234  18002.380859  ...
1     2016-06-30  17712.759766  17930.609375  ...
2     2016-06-29  17456.019531  17704.509766  ...
3     2016-06-28  17190.509766  17409.720703  ...
4     2016-06-27  17355.210938  17355.210938  ...
...          ...           ...           ...  ...    ...    ...    ...
1984  2008-08-14  11532.070312  11718.280273  ...
1985  2008-08-13  11632.809570  11633.780273  ...
1986  2008-08-12  11781.700195  11782.349609  ...
1987  2008-08-11  11729.669922  11867.110352  ...
1988  2008-08-08  11432.089844  11759.959961  ...

[1989 rows x 386 columns]

In [20]:
for i in range(0,25):
  df_Combined["Top"+str(i+1)] = ""

for i in range(0, len(df_DJIA['Date'])):
  News_Date_array = df_RedditNews[df_RedditNews["Date"] == df_Combined["Date"][i]]["News"].to_numpy()
  for j in range(0, len(News_Date_array)):
    df_Combined["Top"+str(j+1)][i] = News_Date_array[j]
df_Combined.tail(2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

            Date  ...                                              Top25
1987  2008-08-11  ...  b"So this is what it's come to: trading sex fo...
1988  2008-08-08  ...           b"No Help for Mexico's Kidnapping Surge"

[2 rows x 386 columns]

In [21]:

df_Combined = df_Combined[:-60]

In [22]:
df_Combined

            Date  ...                                              Top25
0     2016-07-01  ...  Ozone layer hole seems to be healing - US &amp...
1     2016-06-30  ...  Law Enforcement Sources: Gun Used in Paris Ter...
2     2016-06-29  ...  Tiny New Zealand town with 'too many jobs' lau...
3     2016-06-28  ...  Mexico's security forces routinely use 'sexual...
4     2016-06-27  ...  Pakistani clerics declare transgender marriage...
...          ...  ...                                                ...
1924  2008-11-07  ...  b'Russias new nuclear attack submarine starts ...
1925  2008-11-06  ...   b"Oil's stunning retreat: How long can it last?"
1926  2008-11-05  ...  b'NYTimes: Georgia Fired Inaccurate Cluster Bo...
1927  2008-11-04  ...  b"Jamie Oliver says the British don't know how...
1928  2008-11-03  ...  b'Two top state police officers slain in Mexic...

[1929 rows x 386 columns]

In [48]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

In [55]:
sna = SentimentIntensityAnalyzer()
sna.polarity_scores(df_Combined["Top1"][0])["compound"]

-0.5574

In [56]:
for i in range(0, len(df_Combined['Date'])):
  News_Date_array = df_RedditNews[df_RedditNews["Date"] == df_Combined["Date"][i]]["News"].to_numpy()
  for j in range(0, 25):
    df_Combined["Top"+str(j+1)][i] = sna.polarity_scores(df_Combined["Top"+str(j+1)][i])["compound"]

df_Combined

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

            Date          Open          High  ...   Top23   Top24   Top25
0     2016-07-01  17924.240234  18002.380859  ... -0.9618 -0.9432       0
1     2016-06-30  17712.759766  17930.609375  ...  -0.872 -0.5423  -0.875
2     2016-06-29  17456.019531  17704.509766  ...  0.2023       0       0
3     2016-06-28  17190.509766  17409.720703  ...       0 -0.7184 -0.8818
4     2016-06-27  17355.210938  17355.210938  ... -0.6249    0.25   0.128
...          ...           ...           ...  ...     ...     ...     ...
1924  2008-11-07   8696.030273   8961.570312  ... -0.8176 -0.6908 -0.4767
1925  2008-11-06   9134.009766   9155.440430  ...  0.4019       0  0.5267
1926  2008-11-05   9616.599609   9616.599609  ...  0.4404 -0.2003 -0.8402
1927  2008-11-04   9323.889648   9653.950195  ...       0  0.3182       0
1928  2008-11-03   9326.040039   9410.549805  ... -0.6705 -0.1779 -0.5719

[1929 rows x 386 columns]

In [26]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/compat/v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term